/* Custom tabs styling */
#app {
  .v-tabs-items {
    background-color: transparent !important;
  }
  /*.v-tabs-bar {
    height: 55px;
  }*/
  .v-tabs {
    .v-tab {
      text-transform: none;
      &.v-tab--active {
        font-weight: bold;
      }
    }
    &:not(.v-tabs--vertical) div.v-tabs-slider-wrapper {
      height: 3px !important;
      padding: 0 15px;
      div.v-tabs-slider {
        border-radius: 5px 5px 0 0;
      }
    }
    &.v-tabs--vertical {
      div.v-tabs-slider-wrapper {
        width: 3px !important;
        right: 0 !important;
        left: unset !important;
        padding: 10px 0;

        div.v-tabs-slider {
          border-radius: 5px 0 0 5px;
        }
      }
      /*a.v-tab {
        min-width: 50px;
      }*/
    }
  }
}
